
 <span style="font-size:15pt; font-weight:bold;">You're Welcome! </span>
<br/>

<div style="font-size:13pt; font-weight:normal; border:solid #E0E0E0 1px; width:570px; float:left; margin-bottom:10px;
padding-left:5px; padding-top:5px; padding-right:5px; padding-bottom:5px;  float:left;">
<span>This is a simple <em>DEMO</em> of a NetBanking Web Application in Ruby on Rails, for a fictitious company named Vancouver Cooperative Bank Limited. </span>
</div>

<div style="font-size:12pt; font-weight:normal; border:solid #E0E0E0 1px; width:570px; padding-left:5px; padding-top:5px; 
padding-right:5px; padding-bottom:5px;  float:left; margin-bottom:10px; ">
  <span><b>Note:</b> Although I have prepared this project hurriedly, I intended to highlight some facts that indicate a great deal of 
    amenity that Ruby on Rails web application framework brings to our exposure; all for free!, making it the developer's framework of choice. 
    As an ardent lover of PostgreSQL for it ease of use, I selected it for this project in preference to the rest. 
    Also to keep an eye on the big picture, I have deferred getting down to the nitty-gritty of financial accounting principles in this 
    demo, happy beyond my expectation if I have drawn the smallest arc of this circle.
  </span>
</div>

<div style="font-size:12pt; font-weight:normal; border:solid #E0E0E0 1px; width:570px; padding-left:5px; padding-top:5px; 
padding-right:5px; padding-bottom:5px;  float:left; ">
<span><b>Summary:</b> Customer are registered through the <em>Register</em> hyperlink, a registered customer can have access only to his/her bank accounts
  and a list of account operations (such as Deposit and Withdraw) pertaining to his bank accounts. A bank manager get access to the system through
  the <em>Staff</em> hyperlink, a manager can totally administer customer bank accounts(create, read, update and delete), but he has only a 
  read-only access to customers bank account operations. <em>For staff login: username=>'manager', password=>'secret'</em>
  </span>
</div>
